<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title | Tutorial - Template</title>
    <link href="../../../css/main.css" rel="stylesheet" />
    <link href="../../../css/write_tut_template.css" rel="stylesheet" />
</head>
<body>

<header></header>
<div id="history_header"></div>

<main>
    <nav>
        <input type="text" />
        <ul>
            <li><span>C++ in Visual Studio</span></li>
            <li><span>Love</span></li>
            <li><span>Love</span></li>
            <li><span>Love</span></li>
            <li><span>Love</span></li>
            <li><span>Love</span></li>
            <li><span>Love</span></li>
        </ul>
    </nav>
    <div id="article_holder">
        <article>
            <h1>CRT Library Features</h1>
            <p>This topic discusses the various .lib files that comprise 
                the C run-time libraries as well as their associated compiler
                 options and preprocessor directives.
            </p>
            <h2>C Run-Time Libraries (CRT)</h2>
            <p>
                The C Run-time Library (CRT) is the part of the C++ Standard Library that incorporates the ISO C99 standard library. The Visual C++ libraries that implement the CRT support native code development, and both mixed native and managed code. All versions of the CRT support multi-threaded development. Most of the libraries support both static linking, to link the library directly into your code, or dynamic linking to let your code use common DLL files.
            </p>
            <p>
                Starting in Visual Studio 2015, the CRT has been refactored into new binaries.
                 The Universal CRT (UCRT) contains the functions and globals exported by the
                  standard C99 CRT library. The UCRT is now a Windows component,
                   and ships as part of Windows 10. The static library,
                    DLL import library, and header files for the UCRT are now found
                     in the Windows 10 SDK. When you install Visual C++,
                      Visual Studio setup installs the subset of the Windows 10 SDK
                       required to use the UCRT. You can use the UCRT on any version of
                        Windows supported by Visual Studio 2015 and later versions.
                         You can redistribute it using vcredist for supported versions
                          of Windows other than Windows 10. For more information,
                           see <a href="#">Redistributing Visual C++ Files</a>.
            </p>

        </article>
        <div id="content_nav">
            <h3>In this article</h3>
        </div>
    </div>
</main>

<footer></footer>

</body>
</html>
